.App {
  position: relative;
}

.App canvas, .overlayer {
  position: absolute;
}

canvas {
  z-index: 1;
}

.overlayer {
  text-align: center;
  display: flex;
  background-color: #161b22;
}

.editor {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 100vh;
  z-index: 3;
}

.code {
  height: 100%;
}
